<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.AttachmentMapper">
    <insert id="insertAttachment" parameterType="Attachments" useGeneratedKeys="true" keyProperty="attachmentId">
        insert into attachments (post_id, original_name, store_file_name, attachment_type, attachment_size)
        values (#{postId}, #{originalName}, #{storeFileName}, #{attachmentType}, #{attachmentSize})
    </insert>
</mapper>